.App {
  width: 1390px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-right: 20px;
  margin-top: 0;
  padding-left: 10px;
  background-image: url("./img/red-wallpaper.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment:fixed; 
}

.App-logo {
  height: 100px;
  margin-top: -25px;
  width: 110px;
}

.pokemon {
  margin-top: -15px;
  width: 450px;
  height: 150px;
}

.App-header {
  height: 80px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.panel {
  padding: 20px;
}

.row1 {
  margin-top: 50px;
  background-color:  transparent;
  height: 600px;
  width: 380px;
  border: 10px solid #1b191b;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row2 {
  margin-top: -620px;
  margin-left: 400px;
  padding-bottom: 10px;
  background-color:  rgba(238, 238, 238, 0.88);
  height: 590px;
  width: 540px;
  border: 10px solid #1b191b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row3 {
  margin-top: -620px;
  margin-left: 960px;
  background-color:  transparent;
  height: 600px;
  width: 380px;
  border: 10px solid #1b191b;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  padding: 10px;
  font-size: 20px;
  margin-top: 0px;
  background-color: #000;
  color: white;
  border: 2px solid #000;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.save {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  box-shadow: 0px 0px 5px #fff;
  position: absolute;
  z-index: 2;
  margin-left: -230px;
  margin-top: 165px;
}

.note {
    background-image: -webkit-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -moz-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -ms-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -o-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 31px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 35px;
    margin-top: 18px;
    margin-bottom: 17px;
    text-align: center;
}


.notes {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0.68) 31px);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0.68) 31px);
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0.68) 31px);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0.68) 31px);
    background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0.68) 31px);
    background-size: 100% 31px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 8px;
    margin-top: 220px;
    margin-left: -350px;
    margin-bottom: 10px;
    color: white;
    position: absolute;
    z-index: 0;
}

.label {
  margin-left: 90px;
  font-weight: bold;
}

.pikanotes {
  width: 380px;
  height: 80px;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

.pikanotes1 {
  margin-top: 22px;
  width: 380px;
  height: 80px;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

.name {
  margin-top: 0px;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.img {
  width: 140px;
  margin-top: 7px; 
  margin-bottom: 0px;
}

.bottom {
  margin: 0px;
  margin-top: 111px;
  width: 400px;
  height: 150px;
  background-color: #000000ad;
  border-top: 6px solid #223187ba;
}

.table {
  height: 380px;
  margin-top: 10px;
  border: 2px solid #be1f2ed4;
}

.table , th, td{
  width: 520px;
  text-align: center;
  vertical-align: middle;
}

.table th {
    background:radial-gradient(circle at 1.98% 20.98%,#c53d4a,transparent 100%),radial-gradient(circle at 98.02% 20.98%,#c53d4a91,transparent 100%),radial-gradient(circle at 50% 50%,#c53d99bd,#c53d6dbd 100%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 15px;
}

.table td {
  font-size: 12px;
  border: 1px solid #be1f2ed4;
  vertical-align: top;
  padding-top: 10px;
}

.table .def {
  border: none;
}

.container {
  width: 180px;
  height: 150px;
  margin-top: 0px;
  border-radius: 50%;
  box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background:radial-gradient(circle at 1.98% 20.98%,#ffd9004f,transparent 100%),radial-gradient(circle at 98.02% 20.98%,#c53d4a91,transparent 100%),radial-gradient(circle at 50% 50%,#c53d99bd,#4b6cb7 100%);
  }

  hr {
    width: 380px;
    height: 5px;
    background:radial-gradient(circle at 1.98% 20.98%,#4b6cb7,transparent 100%),radial-gradient(circle at 98.02% 20.98%,#182848,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

legend {
  margin-top: 5px;
  padding: 0px;
  position: absolute;
  z-index: 2;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  font-size: 22px;
  text-align: center;
  
}

.h5 {
  padding-right: 4px;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  font-weight: normal;
}


p {
  position: absolute;
  z-index: 2;
}

h3 {
  padding: 0px;
  margin: 0px;
}

h4{
  color: white;
  font-size: 12px;
}

.comment_box{
  background-color: #00000096;
  width: 350px;
  height: 190px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 20px;
  padding-top: 12px;
  overflow: auto;
}